@font-face {
  font-family: 'Source Han Serif CN';
  src: local('Source Han Serif CN'), local('Source Han Serif SC'),
       local('Source Han Serif TC'), local('Source Han Serif TW'),
       local('Source Han Serif'), local('Noto Serif CJK SC'), local('Songti SC'), local('SimSong'),
       url('https://cdn.jsdelivr.net/gh/ARTPOP-a11y/fonts/noto-serif-sc-v31-chinese-simplified-regular.woff2') format('woff2');
}

body {
  font-family: Optima, 'Lucida Sans', Calibri, Candara, Arial, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Noto Serif CJK SC', 'Songti SC', 'Microsoft YaHei', sans-serif;
}
code {
  font-family: "Lucida Console", 'Andale Mono', 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
pre code {
  font-family: Consolas, "Lucida Console", Monaco, 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
